$start : 1;
$end   : 12;
$grid  : 1 / $end;
.grid {
	max-width: $maxWidth;
	width: 100%;
	float: left;
	@include box-sizing(border-box);
	@for $i from $start through $end {
		&.grid--#{$i} {
			width: percentage($grid * $i);
		}
	}
	&.grid--#{$end} {
		margin: 0 auto;
		float: none;
	}
}