<div class="article article--pickup fz-16">
	<div class="article__header">
		<a href="#" class="article__thumb d-b">
			<img src="{{{pic}}}/640/350">
		</a>
	</div>
	<div class="article__body">
		<a href="#" class="article__body__title d-b">{{title}}</a>
		<p class="article__body__action">
			<a href="#" class="c-like mgr-10 icon-wf" data-icon-bf="&#xE605">
				<span class="c-like__count">67</span>
			</a>
			<a href="#" class="c-favorite icon-wf" data-icon-bf="&#xE604">
				<span class="c-favorite__count">163</span>
			</a>
		</p>
	</div>
</div>